body {
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    width: 100%;
    height: 20px;
    margin: 0px;
    background-color:black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav p, nav h1 {
    margin-left: 30px;
    color: white;
}

nav h1 {
    display: flex;
    align-self: center;
}

.page-format {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-user {
    width: 35%;
    min-height: 600px;
    background-color:rgb(52, 110, 235);
    padding: 30px;
    
}
#new-user h2, p {
    color: white;
}

#user-login {
    width: 65%;
    min-height: 600px;
    padding: 30px;
    background-color:rgb(255, 255, 255);
}

#groups-section {
    width: 65%;
    min-height: 600px;
    padding: 30px;
    padding-left: 70px;
    background-color:rgb(255, 255, 255);
}

#groups-section div {
    background-color:rgb(12, 99, 199);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    box-shadow: 5px 5px #e9e8e89a;
}

#new-group {
    width: 35%;
    min-height: 600px;
    background-color:rgb(52, 110, 235);
    padding: 30px;
}

#new-group h2, p {
    color: white;
}

#main-section {
    background-color:rgb(255, 255, 255);
    width: 65%;
    min-height: 600px;
    padding: 30px;
    padding-left: 70px;

}

#main-section div {
    background-color:rgb(12, 99, 199);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#second-section {
    width: 35%;
    min-height: 600px;
    background-color:rgb(52, 110, 235);
    padding: 30px;
}

a:link, a:visited {
    color: rgb(252, 189, 17);
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}